<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Panel de Control</ion-title>


  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-button (click)="generatePetition()" > Generar Petición </ion-button>

  <h1> Tus Cursos </h1>
  <ion-list>
    <ion-card *ngFor="let item of myCourses, let i = index">
      <ion-card-title> {{item.Title}} </ion-card-title>
      <ion-card-content> Descripción :  {{item.Description}} </ion-card-content>
      <ion-card-content> Asesor : {{item.TeacherName}} </ion-card-content>
      <ion-card-content> Materia : {{item.Subject}} </ion-card-content>
      <ion-card-content> Dia Creación : {{item.CreationDate}} </ion-card-content>
      <ion-card-content> Dia(s) : {{item.Days}} </ion-card-content>
      <ion-card-content> Modalidad : {{item.TypeSession}} </ion-card-content>
      <ion-button color="danger" (click)= "optOut(item)">Salir del Curso</ion-button>
    </ion-card>
  </ion-list>
</ion-content>
