<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header-container">
    <h1>AssistMe - Estudiantes</h1>
    <p>Registrate y recibe ayuda.</p>
  </div>

  <form [formGroup]="signupForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input formControlName="email" placeholder=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name" placeholder=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Sobre mi</ion-label>
            <ion-input formControlName="aboutMe" placeholder=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input formControlName="confirmPassword" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" expand="block" fill="solid" (click)="onSubmit()">Registrarme</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="goToLogin()" expand="full" fill="none">Ya tienes una cuenta? Inicia Sesión!</ion-button>
  </ion-toolbar>
</ion-footer>
